body, html {
	height: 100%;
	width: 100%;
	background-color: black;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
}

.startup {
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

h1 {
	color: rgba(255,255,255,0.75);
	font-size: 2rem;
	padding: 4rem 1rem;
	margin: 100px 0px;
}

.big-button {
	padding: 2rem 1rem;
}

.btn-primary {
  	text-transform: uppercase;
  	border-radius: 250px;
  	background-color: #3F6B86;
  	border-color: #3F6B86;
}

.btn-primary:hover {
  background-color: #083396;
  border-color: #083396;
  cursor: pointer;
}